body {
  font-family: "Geist Mono", monospace;
  color: rgb(255, 255, 255);
  background-color: black;
  margin: 0;
  padding: 0;
}

#terminal {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}

#output {
  white-space: pre-wrap;
}

.input-line {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-family: "Geist Mono", monospace;
}

.prompt {
  color: white;
}

input {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  outline: none;
  width: 100%;
  font-family: "Geist Mono", monospace; 
  font-size: 18px;
  margin-left: 5px;
  padding: 5px;
  display: block;
  border-radius: 0;
  min-height: 30px;
  caret-color: rgb(255, 255, 255);
  animation: blinkCaret 0.8s step-end infinite;
}

@keyframes blinkCaret {
  50% {
    border-color: transparent;
  }
}

.user-text, .ai-text {
  margin: 5px 0;
}

.ai-text {
  color: green;
  font-weight: normal;
  font-style: normal;
}

.user-text {
  color: white;
  font-weight: normal;
  font-style: normal;
}

.thinking-text {
  color: green;
  font-weight: normal;
  font-style: normal;
}
